/* you can add to or change this. */

html{
  background-color: antiquewhite;
}

#game div {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}

.flipped {
  transform: rotateY(180deg);
}

.hidden {
  display:none;
}
