/* you can add to or change this. */

html{
  background-color: antiquewhite;
}

.counter {
  font-size: 2em;
}

#game {
  width:42.4em;
  margin: auto;
  padding:10px;
}

#game div {
  border: 1px solid black;
  width: 10em;
  height: 10em;
  margin: .2em;
  display: inline-block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.flipped {
  transform: rotateY(180deg);
}

.hidden {
  display:none;
}
